{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href= "{% static 'style/grid.css'%}" type="text/css">>
</head>
<body>
    <div class="info1">
        <div class="glav">
            <a href="{% url 'home1' %}"><button class="gl"><p class="gl1">Главная</p></button></a>
        </div>
        <h1 class="hhh">Информация о культуре</h1>
    </div>
    <div class="txt1">
        <span class="span1">
            {% for info in text %}
        {{info.opred}}
        {% endfor %}
            Хип-хоп-культура(англ. hip hop culture или hip-hop culture) — культурное и художественное направление, созданное
             афроамериканцами, латиноамериканцами и американцами стран Карибского бассейна в Бронксе, Нью-Йорк.
              Происхождение названия часто оспаривается. Также спорят о том, зародился ли хип-хоп в Южном или Западном Бронксе. 
              В то время как термин хип-хоп часто используется для обозначения исключительно хип-хоп-музыки (включая рэп), 
              хип-хоп характеризуется четырьмя ключевыми элементами: исполнение «рэпа» (также называемый эмсиинг), ритмичный вокальный стиль рифмования; 
              диджеинг (и тёрнтейблизм), то есть создание музыки с помощью виниловых проигрывателей и диджейских микшеров (слуховое/звуковое и музыкальное оформление);
               би-боинг/би-гёрлинг/исполнение брейк-данса (движение/танец); и рисование граффити. Пятым элементом, который хоть и является спорным, 
               обычно считается уличное знание, либо хип-хоп-мода или исполнение битбокса.
        </span>
    </div>
    <div class="img1">
        <img class="xx1" src="{% static 'мпт грид\хх1.jpg'%}" alt="">
        <p class="text1"><b>Хип-хоп, как таковой, делится на множество направлений. Каждое направление достаточно самостоятельно и несёт свой собственный смысл.

            В нём можно выделить три основных направления:
            
            Рэп, Хип-хоп, Битбокс (музыкальное)
            Брейк-данс, Хип-хоп (New Style, Old School и др.), Паппинг, Крамп, Флексинг, C-Walk, Turfing, Locking, Waacking, Dancehall, House (танцевальное)
            Граффити (изобразительное)
            Человек, относящий себя к субкультуре хип-хопа, может заниматься одновременно и рэпом, и граффити, и брейк-дансом.</b> </p>
            <img class="xx2" src="{% static 'C:\Users\railw\OneDrive\Рабочий стол\мпт грид\xx7.jpg'%}" alt="">
    </div>
</body>
</html>    