{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href= "{% static 'style/grid.css'%}" type="text/css">
</head>
</head>
<body>
    <div class="bod">
    <div class="glav">
        <a href="{% url 'home1' %}"><button class="gl"><p class="gl1">Главная</p></button></a>
        </div>
    <h1 class="hist">
        История хип-хопа
    </h1>
    {% for famous in text %}
    {{famous.Person}}
    {{famous.squade}}
    {% endfor %}
    <p class="txt2">
        Хип-хоп зародился в негритянской среде Бронкса, района Нью-Йорка, во второй половине 1970-х гг. В то время это была музыка для вечеринок, которую создавали диск-жокеи
         (называемые сокращенно «ди-джеями»), работавшие в крайне примитивной тогда технике сэмплирования: она зачастую сводилась к повторению музыкального проигрыша чужой танцевальной композиции. Первые «эм-си» были буквально 
         типичными конферансье («Master of Ceremony» — т. е. сокращённо MC; эта аббревиатура затем вобрала в себя множество других значений), они представляли ди-джеев, а также поддерживали внимание аудитории энергичными возгласами и целыми тирадами.
          Отметим, что на Ямайке подобная манера
          исполнения была выработана еще на рубеже 1960−70-х гг. благодаря зародившейся технике даба.
    </p>
    <h1 class="hist1">
        История хип-хопа в России
    </h1>
    <p class="txt3">Хип-хоп появился в России в 1980-х годах. Первым исполнителем хип-хопа стал, как ни странно, рок-музыкант Константин 
        Кинчев, записавший песни «Атеист», «Тоталитарный рэп» и «Меломан». В Куйбышеве диск-жокей дискотеки «Канон»
         Александр Астров совместно с местной группой «Час пик» записали 25-минутную программу, которая вскоре разошлась по всей стране в виде магнитоальбома «Рэп».

        Первой хип-хоп группой СССР стала рэп-команда D.M.J., читавшая олдскульный рэп.
         В 1988 году группа Чёрное И Белое появилась на ТВ. С 1990-х годов рэп распространяется по СССР и России, а также приобретает популярность в странах СНГ.
         В конце 2000-х годов русский рэп стал популярным благодаря развитию соцсетей в России, ведущую роль в этом сыграл сайт ВКонтакте. Рэп-исполнители получили возможность поделиться своим творчеством с большим
          количеством людей и найти свою аудиторию. Их тексты стали ещё более многогранными: в них стали появляться аллюзии на литературные произведения и библейские мотивы, более сложные художественные образы.
           Яркими представителями этого периода стали «25/17»,
           Oxxxymiron, «Луперкаль», «ЛСП», «Хаски», Loqiemean, Mnogoznaal и другие артисты. Для создания музыки использовались 
         мобильные рабочие станции Akai MPC2500, Pro Tools, Logic Pro, Native Instruments Maschine Studio (Андрей Кит из группы «Ю.Г.»).</p>
        <img class="mel" src="{% static 'C:\Users\railw\OneDrive\Рабочий стол\мпт грид\xx8.jpg'%}" alt="">
    </div>
</body>
</html>