{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href= "{% static 'style/grid.css'%}" type="text/css">
</head>
<body>
    <div class="bod">
    <div class="glav">
        <a href="{% url 'home1' %}"><button class="gl"><p class="gl1">Главная</p></button></a>
        </div>
        <h1 class="hist2">
            Хип-хоп как жанр
        </h1>
        <div>
        <h2>Популярные жанры:</h2>
        {% for rap in text %}
        <p class="popular">
        {{rap.type}}
        {{rap.borncountry}}
        </p>
        {% endfor %}
        </div>
        <div class="text2">
            <span class="span1">Хип-хоп как музыкальный жанр и культура сформировался в 1970-х годах,
                 когда районные вечеринки стали всё более популярными в Нью-Йорке, особенно
                  среди афроамериканской молодёжи, проживающей в Бронксе. На районных вечеринках диджеи играли «брейки» 
                  (соло на ударных) популярных песен, используя два виниловых проигрывателя и диджейский микшер, чтобы иметь 
                  возможность проигрывать «брейки» из двух копий одной и той же записи, чередуя одну за другой и увеличивая «брейк».
                   Раннее развитие хип-хопа происходило по мере того, как технология семплирования и драм-машины стали широко доступны
                    и приемлемыми по цене. Наряду с «брейками» были разработаны методы тёрнтейблизма, такие как скретчинг и битматчинг,
                     а поверх битов использовались ямайские распевы. Исполнение рэпа развивалось как вокальный стиль, в котором артист
                      говорит или произносит слова нараспев ритмично с помощью инструментального или синтезированного бита.</span>
                      <span1 class="span1">Термин «хип-хоп-музыка» иногда используется как синоним термина «рэп-музыка», хотя исполнение рэпа не является обязательным компонентом хип-хоп-музыки; жанр может также включать другие элементы хип-хоп-культуры, в том числе диджеинг, тёрнтейблизм, скретчинг, битбокс и инструментальные треки</span1>
        </div>
        <div class="text3">
            <span class="span1">В 2023 году в России хип-хоп обрел мейнстрим в большей части страны. Начиная с 2016 года, во многих городах России начали вируситься треки как русских реп исполнителей, так и западных. Тому пример: "PHARAOH", "Скриптонит" и другие. В данный же момент самыми известными представителями современной хип-хоп-музыки в России являются объединение MELON MUSIC</span>
            <img class="drake1" src="{% static 'C:\Users\railw\OneDrive\Рабочий стол\мпт грид\хх5.jpg'%}" alt="">
        </div>
        <div>
            <img class="MELON" src="{% static 'C:\Users\railw\OneDrive\Рабочий стол\мпт грид\хх6.png'%}" alt="">
        </div>
    </div>
</body>
</html>